# Project files for eclipse
.project
.cproject

# Object files
*.o

# Executables
routed_LS

# Log files
*-log.txt

# Emacs backups
*~

# Duplicate init file (for debugging)
other-init.txt

#Duplicate start script (for debugging)
other_start_routers.sh
other_start_routers.cpy.sh
start_routers.cpy.sh